<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('partials/head') %>
    </head>
<body>

    
    <nav class="navbar">
        <a href="/" class="logo">Song Cloud</a>
        <ul class="nav-links">
      
        </ul>
         <a href="/Zaw_Win_Htut" class="fav-btn">
            <span class="fav-icon"></span> Back
          </a>
    </nav>
   

    <div class="song-details-container">
        <div class="image-section">
            <div class="song-cover-container">
                <img src="../image/anime_brlolo.avif" alt="Song Cover" class="song-cover">
            </div>
            <div class="song-details1">
                <p class="song-named">ဇော်ဝင်းထွဠ်</p>
                <p class="artistd">ဘာလိုလို</p>
            </div>
        </div>
        <div class="lyrics-section">
    <div class="lyrics-header">
        <h2>Lyrics</h2>
    </div>
    <div class="lyrics-content">
        
        <p>တို့နှစ်ယောက်တကယ်ဝေးပြီးနောက်<br>ရင်ခုန်သံ ပြတ်စဲသလား<br>မညာချင်ဘူး ကိုယ့်အချစ်လေး<br>အချိန်တွေတိုင်း လွမ်းတာ<br>မင်း ငါ့ကို ထားခဲ့သလား<br>ငါကပဲ ထားခဲ့တာ လား<br>မဆိုင်တော့ဘူး ဆိုပေမယ့်<br>ဘာလိုလိုပါ အချစ်ရယ်<br>ဘာလိုလို လာပြောကွယ်</p>

        <p>....................</p>
        
        <p>မင်းနံဘေးက ကွက်လပ်လေးများ<br>သူ မမြင်ချင်ယောင်ဆောင်တော့<br>မငိုပါနဲ့ ကိုယ့်အချစ်လေး<br>လိုချင်တာ ကိုယ်ပေးမယ်<br>မင်း ငါ့ကို ရက်စက်နေသလား<br>ငါကပဲ ရက်စက်တာလား<br>မဆိုင်တော့ဘူး ဆိုပေမယ့်<br>ဘာလိုလိုပါ အချစ်ရယ်<br>ဘာလိုလို လာပြောကွယ်</p>
        
        <p>...................</p>
        
        <p>နွေကမ္ဘာလို ခြောက်သွေ့လို့<br>မရှိတော့မှ တန်ဖိုးလေးနားလည်<br>ပြေလည်နိုင်ဖို့<br>မင်းပြော အချစ်လေး<br>ဘာလိုလိုပါ<br>ဘာလိုလို လာပြောကွယ်</p>
        
        <p>....................</p>
        
        <p>ဘာလိုလို<br>ရေး-ဆောင်းဦးလှိုင်<br>ဆို-ဇော်ဝင်းထွဋ်<br>....................</p>
        
        <p>တို့နှစ်ယောက်တကယ်ဝေးပြီးနောက်<br>ရင်ခုန်သံ ပြတ်စဲသလား<br>မညာချင်ဘူး ကိုယ့်အချစ်လေး<br>အချိန်တွေတိုင်း လွမ်းတာ<br>မင်း ငါ့ကို ထားခဲ့သလား<br>ငါကပဲ ထားခဲ့တာ လား<br>မဆိုင်တော့ဘူး ဆိုပေမယ့်<br>ဘာလိုလိုပါ အချစ်ရယ်<br>ဘာလိုလို လာပြောကွယ်</p>
        
        <p>...................</p>
        
        <p>နွေကမ္ဘာလို ခြောက်သွေ့လို့<br>မရှိတော့မှ တန်ဖိုးလေးနားလည်<br>ပြေလည်နိုင်ဖို့<br>မင်းပြော အချစ်လေး<br>ဘာလိုလိုပါ<br>ဘာလိုလို လာပြောကွယ်</p>
        
        <p>အချစ်ရေ ဘာလိုလိုပါ<br>ဘာလိုလို လာပြောကွယ်<br>အချစ်ရေ ဘာလိုလိုပါ</p>
        
    </div>
</div>
        <div class="audio-section">
            <div class="audio_detail">
                <audio controls>
                  <source src="../audio/Barlolo.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
              <div class="favorite_heart-btn">
                <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
                  &#x2661;
              </div>
        </div>
        
            </div>
        </div>   
        
    
    


   
</body>
</html>