<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
</head>
<body>
    <nav class="navbar">
        <a href="/" class="logo">Song Cloud</a>
        <ul class="nav-links">
      
        </ul>
        <input type="text" class="search-bar" placeholder="Search Music...">
         <a href="/lobby" class="fav-btn">
            <span class="fav-icon"></span> Back
          </a>
    </nav>
    
    <div class="profile-container">
        <div class="artist-header">
            <div class="artist-img"><img src="../image/bo phyu.jpg" alt="Bo Phyu" ></div>
            <h1 class="artist-name">Bo Phyu</h1>
            <div class="music">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
        <hr>
        <div class="about-section">
            <h2>Bo Phyu</h2>
            <p class="artist-description">
               ................................................................................................................................. Update and Fix.............................................................................................................................
            </p>
        </div>
    </div>
<hr>

    
    <div class="highlight-section"> 
        <div class="highlight">
            <a href="songd.html">
                <div class="image">
                    <img src="../image/anime_myynelan.avif" alt="နေရာတိုင်းမှာ" />
                </div>
            </a>
            <div class="song-details">
                <p class="song-name">မြေနီလမ်း</p>
                <p class="artist">ဘိုဖြူ</p>
            </div>
                <div class="audio">
                <audio controls>
                  <source src="../audio/mayynelan.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
        </div>
        <div class="heart">
          <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
            &#x2661;
        </div>
            </div>
            
        </div>
        
      </div>
      <hr>
        <div class="highlight-section"> 
          <div class="highlight">
              <a href="songd.html">
                  <div class="image">
                      <img src="../image/anime_lattte.jpg" alt="နေရာတိုင်းမှာ" />
                  </div>
              </a>
              <div class="song-details">
                  <p class="song-name">လက်တီး</p>
                  <p class="artist">ဘိုဖြူ</p>
              </div>
                  <div class="audio">
                  <audio controls>
                    <source src="../audio/latttee.mp3" type="audio/mpeg">
                    Your browser does not support the audio element. 
                </audio>
          </div>
          <div class="heart">
            <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
              &#x2661;
          </div>
              </div>
          </div>
        </div>
        <hr>
      <div class="highlight-section"> 
        <div class="highlight">
            <a href="songd.html">
                <div class="image">
                    <img src="../image/anime_linkinawin.jpg" alt="နေရာတိုင်းမှာ" />
                </div>
            </a>
            <div class="song-details">
                <p class="song-name">လင်းခေးအဝင်</p>
                <p class="artist">ဘိုဖြူ</p>
            </div>
                <div class="audio">
                <audio controls>
                  <source src="../audio/linkinawin.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
        </div>
        <div class="heart">
          <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
            &#x2661;
        </div>
            </div>
        </div>
      </div>
      <hr>
      <div class="highlight-section"> 
        <div class="highlight">
            <a href="songd.html">
                <div class="image">
                    <img src="../image/anime_pyaesoneprrsay.jpg" alt="နေရာတိုင်းမှာ" />
                </div>
            </a>
            <div class="song-details">
                <p class="song-name">ပြည့်စုံပါစေ</p>
                <p class="artist">ဘိုဖြူ</p>
            </div>
                <div class="audio">
                <audio controls>
                  <source src="../audio/pyaesoneprrsayy.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
        </div>
        <div class="heart">
          <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
            &#x2661;
        </div>
            </div>
        </div>
      </div>
      <script src="../javascript/script.js"></script>
</body>
</html>