<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('partials/head') %>
    </head>
<body>

    
    <nav class="navbar">
        <a href="/" class="logo">Song Cloud</a>
        <ul class="nav-links">
      
        </ul>
         <a href="/Sai_Htee_Saing" class="fav-btn">
            <span class="fav-icon"></span> Back
          </a>
    </nav>
   

    <div class="song-details-container">
        <div class="image-section">
            <div class="song-cover-container">
                <img src="../image/cherry.avif" alt="Song Cover" class="song-cover">
            </div>
            <div class="song-details1">
                <p class="song-named">ချယ်ရီကိုသာပန်ပါကွယ်</p>
                <p class="artistd">ဆိုင်းထီးဆိုင်</p>
            </div>
        </div>
        <div class="lyrics-section">
    <div class="lyrics-header">
        <h2>Lyrics</h2>
    </div>
    <div class="lyrics-content">
        
    <p>မှန်ကိုလည်း ငဲ့မကြည့်တော့</p>

    <p>ကေသာကျော့လဲ ပြေလျော့ခဲ့တယ်<br>အိမ်မှာပန် လာရှာတဲ့<br>ပိတောက်ပန်း ညှိုးချိန်ဝယ်<br>ပန်ပါလို့ ဇွတ် မပေးချင်<br>မပန်ရင်လဲပဲ ကိုယ် ခွင့်လွတ်မယ်<br>ရင်မှာ ကြင်နာတာတွေ<br>သိပြီးသားပါကွယ်</p>
    
    <p>တောင်ပေါ်မြေမှာ</p>
    
    <p>တော်ဝင် ပိတောက်ပန်း မရှိပေမယ့်<br>ဖြူစင်စေတနာ<br>အရိုးခံစိတ်ရင်း ရှိကြတယ်<br>ချယ်ရီတွေရယ်<br>ဧည့်ဝတ်မပျက် ပါဘူးကွယ့်<br>အချစ်ရယ်နော်<br>လိမ်မာပါတယ် ဗမာမလေး<br>စိတ်မညိုနဲ့<br>ရွှေညာမြေက ပိတောက်ဝါကို<br>သတိရတဲ့အခါ<br>ချယ်ရီကိုသာ ပန်ကာ ကျေနပ်ကွယ်</p>
    
    <p>တောင်ပေါ်မြေမှာ<br>တော်ဝင် ပိတောက်ပန်း မရှိပေမယ့်<br>ဖြူစင်စေတနာ<br>အရိုးခံစိတ်ရင်း ရှိကြတယ်<br>ချယ်ရီတွေရယ်<br>ဧည့်ဝတ်မပျက် ပါဘူးကွယ့်<br>အချစ်ရယ်နော်<br>လိမ်မာပါတယ် ဗမာမလေး<br>စိတ်မညိုနဲ့<br>ရွှေညာမြေက ပိတောက်ဝါကို<br>သတိရတဲ့အခါ<br>ချယ်ရီကိုသာ ပန်ကာ ကျေနပ်ကွယ်</p>
    
    <p>♬♬♬♪♪♪♬♬♬♪♪♪♬♬♬♪♪♪♬♬♬♪♪♪</p>
    
    <p>♬♬♬♪♪♪♬♬♬♪♪♪♬♬♬♪♪♪♬♬♬♪♪♪</p>
    
    <p>မှန်ကိုလည်း ငဲ့မကြည့်တော့</p>
    
    <p>ကေသာကျော့လဲ ပြေလျော့ခဲ့တယ်<br>အိမ်မှာပန် လာရှာတဲ့<br>ပိတောက်ပန်း ညှိုးချိန်ဝယ်<br>ပန်ပါလို့ ဇွတ်မပေးချင်<br>မပန်ရင်လဲပဲ ကိုယ် ခွင့်လွတ်မယ်<br>ရင်မှာ ကြင်နာတာတွေ<br>သိပြီးသားပါကွယ်</p>
    
    <p>တောင်ပေါ်မြေမှာ</p>
    
    <p>တော်ဝင် ပိတောက်ပန်း မရှိပေမယ့်<br>ဖြူစင်စေတနာ<br>အရိုးခံစိတ်ရင်း ရှိကြတယ်<br>ချယ်ရီတွေရယ်<br>ဧည့်ဝတ်မပျက် ပါဘူးကွယ့်<br>အချစ်ရယ်နော်<br>လိမ်မာပါတယ် ဗမာမလေး<br>စိတ်မညိုနဲ<br>ရွှေညာမြေက ပိတောက်ဝါကို<br>သတိရတဲ့အခါ<br>ချယ်ရီကိုသာ ပန်ကာ ကျေနပ်ကွယ်</p>
    
    <p>တောင်ပေါ်မြေမှာ<br>တော်ဝင် ပိတောက်ပန်း မရှိပေမယ့်<br>ဖြူစင်စေတနာ<br>အရိုးခံစိတ်ရင်းရှိကြတယ်<br>ချယ်ရီတွေရယ်<br>ဧည့်ဝတ်မပျက် ပါဘူးကွယ့်<br>အချစ်ရယ်နော်<br>လိမ်မာပါတယ် ဗမာမလေး<br>စိတ်မညိုနဲ့<br>ရွှေညာမြေက ပိတောက်ဝါကို<br>သတိရတဲ့အခါ<br>ချယ်ရီကိုသာ ပန်ကာ ကျေနပ်ကွယ်</p>
    
    <p>(Fading...)<br>တောင်ပေါ်မြေမှာ<br>တော်ဝင် ပိတောက်ပန်း မရှိပေမယ့်<br>ဖြူစင်စေတနာ<br>အရိုးခံစိတ်ရင်းရှိကြတယ်<br>ချယ်ရီတွေရယ်<br>ဧည့်ဝတ်မပျက် ပါဘူးကွယ့်<br>အချစ်ရယ်နော်<br>လိမ်မာပါတယ် ဗမာမလေး<br>စိတ်မညိုနဲ့</p>
    
    </div>
</div>
        <div class="audio-section">
            <div class="audio_detail">
                <audio controls>
                  <source src="../audio/Cherry_ko_trr_pan_prr.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
              <div class="favorite_heart-btn">
                <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
                  &#x2661;
              </div>
        </div>
        
            </div>
        </div>   
        
    
    


   
</body>
</html>