<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('partials/head') %>
    </head>
<body>

    
    <nav class="navbar">
        <a href="/" class="logo">Song Cloud</a>
        <ul class="nav-links">
      
        </ul>
         <a href="/Htoo_Eaint_Tin" class="fav-btn">
            <span class="fav-icon"></span> Back
          </a>
    </nav>
   

    <div class="song-details-container">
        <div class="image-section">
            <div class="song-cover-container">
                <img src="../image/anime_lwan.gif" alt="Song Cover" class="song-cover">
            </div>
            <div class="song-details1">
                <p class="song-named">рђЂрђ╗рђЁрђ║рђърђ░рђюрђђрђ║рђєрђ▒рђгрђёрђ║</p>
                <p class="artistd">рђЉрђ░рђИрђАрђГрђЎрђирђ║рђърђёрђ║</p>
            </div>
        </div>
        <div class="lyrics-section">
    <div class="lyrics-header">
        <h2>Lyrics</h2>
    </div>
    <div class="lyrics-content">
        <p>рђђрђГрђ»рђџрђ║рђърђГрђЋрђ║рђЂрђ╗рђЁрђ║рђЎрђЙрђћрђ║рђИрђърђГрђЏрђђрђ║рђћрђ▓рђирђЎрђёрђ║рђИрђЎрђ»рђћрђ║рђИрђЂрђ▓рђи<br>рђњрђФрђўрђгрђђрђ╝рђ▒рђгрђёрђирђ║рђЎрђЙрђћрђ║рђИрђљрђйрђ▒рђИрђЎрђЏрђЋрђФрђюрђгрђИ<br>рђђрђГрђ»рђџрђ║рђАрђгрђИрђюрђ»рђХрђИрђћрђ▓рђирђљрђГрђ»рђђрђ║рђЂрђГрђ»рђђрђ║рђђрђгрђЂрђ╗рђЁрђ║рђЂрђ▓рђирђЏ<br>рђћрђ▒рђгрђђрђ║рђєрђ»рђХрђИрђљрђ▒рђгрђирђАрђърђірђ║рђИрђђрђйрђ▓рђќрђГрђ»рђирђюрђгрђИ..</p>

<p>рђђрђ╝рђёрђ║рђћрђгрђърђ░рђЏрђёрђ║рђЎрђЙрђгрђЂрђ╗рђГрђ░рђърђ▒рђгрђАрђЋрђ╝рђ»рђХрђИрђљрђйрђ▒<br>рђћрђ▒рђЏрђ▒рђгрђёрђ║рђЎрђ╗рђгрђИрђЉрђђрђ║рђћрђйрђ▒рђИрђЉрђйрђ▒рђИрђЂрђ▓рђи<br>рђњрђФрђљрђйрђ▒рђАрђЂрђ»рђљрђ▒рђгрђирђАрђ▒рђИрђЁрђђрђ║рђърђйрђгрђИрђАрђ▒рђгрђёрђ║<br>рђюрђ»рђЋрђ║рђЏрђђрђ║рђЂрђ▓рђирђљрђг..</p>

<p>рђђрђГрђ»рђџрђ║рђюрђйрђЎрђ║рђИрђљрђђрђ║рђЎрђЙрђћрђ║рђИрђърђГрђЏрђ▓рђирђЎрђёрђ║рђИрђЉрђгрђИрђЂрђ▓рђи<br>рђњрђФрђўрђгрђђрђ╝рђ▒рђгрђёрђирђ║рђюрђ▓рђЋрђ╝рђ▒рђгрђЂрђ▓рђирђЋрђФрђюрђгрђИ<br>рђђрђГрђ»рђџрђирђ║рђўрђ▒рђИрђћрђгрђИрђЎрђёрђ║рђИрђЎрђЏрђЙрђГрђљрђ▒рђгрђирђЏрђёрђ║<br>рђђрђГрђ»рђџрђирђ║рђЏрђ▓рђирђўрђЮ<br>рђЋрђ╗рђ▒рђгрђђрђ║рђєрђ»рђХрђИрђљрђ▓рђирђАрђћрђђрђ║рђАрђЊрђГрђЋрђ╣рђЋрђгрђџрђ║рђЎрђ╗рђгрђИ..</p>

<p>рђЂрђГрђ»рђюрђЙрђ»рђХрђЏрђгрђЏрђёрђ║рђЂрђйрђёрђ║рђЎрђ▓рђирђърђ▒рђгрђћрђ▒рђирђљрђйрђ▒<br>рђЎрђЙрђ▒рђгрђёрђ║рђЎрђГрђ»рђђрђ║рђЂрђ╝рђёрђ║рђИрђАрђљрђГрђќрђ»рђХрђИрђюрђйрђЙрђЎрђ║рђИрђЂрђ▓рђи<br>рђЎрђ╗рђЙрђ▒рђгрђ║рђюрђёрђирђ║рђЉрђгрђИрђърђЎрђ╗рђЙрђєрђ»рђХрђИрђЏрђЙрђ»рђХрђИрђЂрђ▓рђирђЋрђ╝рђ«<br>рђЎрђёрђ║рђИрђърђГрђЏрђ▓рђирђюрђгрђИ..</p>

<p>рђђрђГрђ»рђџрђирђ║рђЏрђ▓рђирђЏрђёрђ║рђЂрђ»рђћрђ║рђърђХрђърђ«рђЂрђ╗рђёрђ║рђИрђљрђйрђ▒рђюрђірђ║рђИ<br>рђёрђГрђ»рђАрђ▒рђгрђёрђ║рђюрђ▒рђћрђЙрђГрђЋрђ║рђЁрђђрђ║рђЉрђгрђИ<br>рђђрђГрђ»рђџрђирђ║рђЏрђ▓рђирђђрђ╝рђёрђ║рђћрђгрђърђ░рђЏрђђрђ║рђЁрђђрђ║рђърђйрђгрђИ<br>рђЮрђ▒рђњрђћрђгрђљрђйрђ▒рђЉрђгрђИрђЂрђ▓рђирђърђюрђгрђИ</p>

<p>рђњрђФрђљрђйрђ▒рђАрђгрђИрђюрђ»рђХрђИрђљрђГрђ»рђирђЂрђХрђЁрђгрђИрђЂрђ▓рђирђЏ<br>рђАрђг..рђЪрђг рђЂрђ╗рђЁрђ║рђърђ░рђирђюрђђрђ║рђєрђ▒рђгрђёрђ║рђЎрђ╗рђгрђИ<br>рђАрђг рђЪрђг рђЂрђ╗рђЁрђ║рђърђ░рђирђюрђђрђ║рђєрђ▒рђгрђёрђ║рђЎрђ╗рђгрђИ....<br>рђАрђГрђ»рђИ рђЏрђ▒рђИ.....</p>

<p>­Ъј╝­Ъї╣­Ъј╝­Ъї╣­Ъј╝</p>

<p>Uploaded By: Angle Moe<br>@___Angel__Moe</p>

<p>­Ъј╝­ЪјХ­Ъј╝­ЪјХ­Ъј╝</p>

<p>Ready...!<br>1<br>2<br>3<br>Go...</p>

<p>рђђрђГрђ»рђџрђ║рђърђГрђЋрђ║рђЂрђ╗рђЁрђ║рђЎрђЙрђћрђ║рђИрђърђГрђЏрђђрђ║рђћрђ▓рђирђЎрђёрђ║рђИрђЎрђ»рђћрђ║рђИрђЂрђ▓рђи<br>рђњрђФрђўрђгрђђрђ╝рђ▒рђгрђёрђирђ║рђЎрђЙрђћрђ║рђИрђљрђйрђ▒рђИрђЎрђЏрђЋрђФрђюрђгрђИ<br>рђђрђГрђ»рђџрђ║рђАрђгрђИрђюрђ»рђХрђИрђћрђ▓рђирђљрђГрђ»рђђрђ║рђЂрђГрђ»рђђрђ║рђђрђгрђЂрђ╗рђЁрђ║рђЂрђ▓рђирђЏ<br>рђћрђ▒рђгрђђрђ║рђєрђ»рђХрђИрђљрђ▒рђгрђирђАрђърђірђ║рђИрђђрђйрђ▓рђќрђГрђ»рђирђюрђгрђИ..</p>

<p>рђђрђ╝рђёрђ║рђћрђгрђърђ░рђЏрђёрђ║рђЎрђЙрђгрђЂрђ╗рђГрђ░рђърђ▒рђгрђАрђЋрђ╝рђ»рђХрђИрђљрђйрђ▒<br>рђћрђ▒рђЏрђ▒рђгрђёрђ║рђЎрђ╗рђгрђИрђЉрђђрђ║рђћрђйрђ▒рђИрђЉрђйрђ▒рђИрђЂрђ▓рђи<br>рђњрђФрђљрђйрђ▒рђАрђЂрђ»рђљрђ▒рђгрђирђАрђ▒рђИрђЁрђђрђ║рђърђйрђгрђИрђАрђ▒рђгрђёрђ║<br>рђюрђ»рђЋрђ║рђЏрђђрђ║рђЂрђ▓рђирђљрђг..</p>

<p>рђђрђГрђ»рђџрђ║рђюрђйрђЎрђ║рђИрђљрђђрђ║рђЎрђЙрђћрђ║рђИрђърђГрђЏрђ▓рђирђЎрђёрђ║рђИрђЉрђгрђИрђЂрђ▓рђи<br>рђњрђФрђўрђгрђђрђ╝рђ▒рђгрђёрђирђ║рђюрђ▓рђЋрђ╝рђ▒рђгрђЂрђ▓рђирђЋрђФрђюрђгрђИ<br>рђђрђГрђ»рђџрђирђ║рђўрђ▒рђИрђћрђгрђИрђЎрђёрђ║рђИрђЎрђЏрђЙрђГрђљрђ▒рђгрђирђЏрђёрђ║<br>рђђрђГрђ»рђџрђирђ║рђЏрђ▓рђирђўрђЮ<br>рђЋрђ╗рђ▒рђгрђђрђ║рђєрђ»рђХрђИрђљрђ▓рђирђАрђћрђђрђ║рђАрђЊрђГрђЋрђ╣рђЋрђгрђџрђ║рђЎрђ╗рђгрђИ..</p>

<p>рђЂрђГрђ»рђюрђЙрђ»рђХрђЏрђгрђЏрђёрђ║рђЂрђйрђёрђ║рђЎрђ▓рђирђърђ▒рђгрђћрђ▒рђирђљрђйрђ▒<br>рђЎрђЙрђ▒рђгрђёрђ║рђЎрђГрђ»рђђрђ║рђЂрђ╝рђёрђ║рђИрђАрђљрђГрђќрђ»рђХрђИрђюрђйрђЙрђЎрђ║рђИрђЂрђ▓рђи<br>рђЎрђ╗рђЙрђ▒рђгрђ║рђюрђёрђирђ║рђЉрђгрђИрђърђЎрђ╗рђЙрђєрђ»рђХрђИ..рђЏрђЙрђ»рђХрђИрђЂрђ▓рђирђЋрђ╝рђ«<br>рђЎрђёрђ║рђИрђърђГрђЏрђ▓рђирђюрђгрђИ..</p>

<p>рђђрђГрђ»рђџрђирђ║рђЏрђ▓рђирђЏрђёрђ║рђЂрђ»рђћрђ║рђърђХрђърђ«рђЂрђ╗рђёрђ║рђИрђљрђйрђ▒рђюрђірђ║рђИ<br>рђёрђГрђ»рђАрђ▒рђгрђёрђ║рђюрђ▒рђћрђЙрђГрђЋрђ║рђЁрђђрђ║рђЉрђгрђИ<br>рђђрђГрђ»рђџрђирђ║рђЏрђ▓рђирђђрђ╝рђёрђ║рђћрђгрђърђ░рђЏрђђрђ║рђЁрђђрђ║рђърђйрђгрђИ<br>рђЮрђ▒рђњрђћрђгрђљрђйрђ▒рђЉрђгрђИрђЂрђ▓рђирђърђюрђгрђИ..</p>

<p>рђњрђФрђљрђйрђ▒рђАрђгрђИрђюрђ»рђХрђИрђљрђГрђ»рђирђЂрђХрђЁрђгрђИрђЂрђ▓рђирђЏ<br>рђАрђг..рђЪрђг рђЂрђ╗рђЁрђ║рђърђ░рђирђюрђђрђ║рђєрђ▒рђгрђёрђ║рђЎрђ╗рђгрђИ рђЪрђг....<br>рђАрђг рђЪрђг рђЂрђ╗рђЁрђ║рђърђ░рђирђюрђђрђ║рђєрђ▒рђгрђёрђ║рђЎрђ╗рђгрђИ</p>

<p>рђђрђГрђ»рђџрђирђ║рђЏрђ▓рђирђЏрђёрђ║рђЂрђ»рђћрђ║рђърђХрђърђ«рђЂрђ╗рђёрђ║рђИрђљрђйрђ▒рђюрђірђ║рђИ<br>рђёрђГрђ»рђАрђ▒рђгрђёрђ║рђюрђ▒рђћрђЙрђГрђЋрђ║рђЁрђђрђ║рђЉрђгрђИ<br>рђђрђГрђ»рђџрђирђ║рђЏрђ▓рђирђђрђ╝рђёрђ║рђћрђгрђърђ░рђЏрђђрђ║рђЁрђђрђ║рђърђйрђгрђИ<br>рђЮрђ▒рђњрђћрђгрђљрђйрђ▒рђЉрђгрђИрђЂрђ▓рђирђърђюрђгрђИ..</p>

<p>рђђрђГрђ»рђџрђирђ║рђЏрђ▓рђирђЏрђёрђ║рђЂрђ»рђћрђ║рђърђХрђърђ«рђЂрђ╗рђёрђ║рђИрђљрђйрђ▒рђюрђірђ║рђИ<br>рђёрђГрђ»рђАрђ▒рђгрђёрђ║рђюрђ▒рђћрђЙрђГрђЋрђ║рђЁрђђрђ║рђЉрђгрђИ<br>рђђрђГрђ»рђџрђирђ║рђЏрђ▓рђирђђрђ╝рђёрђ║рђћрђгрђърђ░рђЏрђђрђ║рђЁрђђрђ║рђърђйрђгрђИ<br>рђЮрђ▒рђњрђћрђгрђљрђйрђ▒рђЉрђгрђИрђЂрђ▓рђирђърђюрђгрђИ..</p>


    </div>
</div>
        <div class="audio-section">
            <div class="audio_detail">
                <audio controls>
                  <source src="../audio/cxituulatsaung.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
              <div class="favorite_heart-btn">
                <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
                  &#x2661;
              </div>
        </div>
        
            </div>
        </div>   
        
    
    


   
</body>
</html>