<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('partials/head') %>
    </head>
<body>

    
    <nav class="navbar">
        <a href="/" class="logo">Song Cloud</a>
        <ul class="nav-links">
      
        </ul>
         <a href="/Sai_Htee_Saing" class="fav-btn">
            <span class="fav-icon"></span> Back
          </a>
    </nav>
   

    <div class="song-details-container">
        <div class="image-section">
            <div class="song-cover-container">
                <img src="../image/space_de_htet.avif" alt="Song Cover" class="song-cover">
            </div>
            <div class="song-details1">
                <p class="song-named">ဒီထက်ပိုပြီးမတတ်နိုင်ဘူး</p>
                <p class="artistd">ဆိုင်းထီးဆိုင်</p>
            </div>
        </div>
        <div class="lyrics-section">
    <div class="lyrics-header">
        <h2>Lyrics</h2>
    </div>
    <div class="lyrics-content">
        <p>¶¶ ဟူး ဟူး ဟူး ဟူး.. ဟူး ² ¶¶</p>

        <p>လူတစ်ယောက်ရဲ့ကောင်းကွက်ချည့်ပဲ<br>လိုချင်လို့တော့မရဘူးရယ်<br>ဒွန်တွဲတဲ့ဆိုးကွက်လည်းပါမယ်<br>အံ့ဝင်ခွင်ကျ ဆုတောင်းသမျှပြည့်စုံအောင်<br>ဘယ်ဘုရားမှမစွမ်းနိုင်ဘူး နီးစပ်တာနဲ့<br>ရောင့်ရဲကြရတာလည်းမင်းအသိပါပဲ</p>
        
        <p>▪️▪️▪️</p>
        
        <p>ကျောက်တိုင်းအပြစ်ကလေးတော့ရှိမယ်<br>လူတိုင်းချွတ်ယွင်းချက်ရှိတယ် သဘာဝရဲ့<br>သဘောတရားတစ်ခုပါပဲ ပုံစံတစ်ခုထဲ<br>ဇွတ်အတင်း သွတ်သွင်းနေရင်<br>နဂိုရ်ရှိရင်းစွဲဂုဏ်အင် ပျက်စီးမယ့်အရေး<br>ပြန်ငဲ့ကွက်သင့်တာလည်း မင်းအသိပါပဲ</p>
        
        <p>▪️▪️▪️</p>
        
        <p>ကိုယ်စွမ်းသလောက်တော့<br>ကိုယ်ကြိုးစားခဲ့ပါတယ် ထိပ်ဆုံးထိ<br>မရောက်ခဲ့ရတောင် အလယ် အလတ်တော့</p>
        
        <p>မကပါတယ် စိတ်သွားသလောက်တော့<br>ကိုယ် လိုက်ပြီးမလုပ်နိုင်ဘူး<br>ဒီလောက်နဲ့မှ မကျေနပ်ရင်<br>အရှုံးပေးဖို့ပဲ ကျန်တော့မယ်<br>ဒီထက်ပိုပြီး မင်းအလိုကို မဖြည့်နိုင်ဘူး<br>ဒီထက်ပိုပြီး မဖြစ်နိုင်ဘူး မတတ်နိုင်ဘူး</p>
        
        <p>▪️▪️▪️</p>
        
        <p>ရေနက်လည်း ကြမ်းရှိရမယ်<br>အပင်မြင့်လည်း အဖျားရှိရမယ်<br>အရာရာမှာ အဆုံးရှိကြရစမြဲ ဒါပေမယ့်လဲ<br>တိုင်းလို မရ စကောင်းနိုင်တဲ့<br>ချစ်ခြင်းတော့ ရှိပါတယ် မင်းမတောင်းရပဲ<br>ကိုယ်ပေးအပ်ခဲ့တာလည်း မင်းအသိပါပဲ</p>
        
        <p>▪️▪️▪️</p>
        
        <p>ကိုယ်စွမ်းသလောက်တော့<br>ကိုယ်ကြိုးစားခဲ့ပါတယ်<br>ထိပ်ဆုံးထိ မရောက်ခဲ့ရတောင်<br>အလယ်အလတ်တော့ မကပါတယ်<br>စိတ်သွားသလောက်တော့<br>ကိုယ်လိုက်ပြီး မလုပ်ပေးနိုင်ဘူး<br>ဒီလောက်နဲ့မှ မကျေနပ်ရင် လက်လျော့ဖို့ပဲ<br>ကျန်တော့မယ် ဒီထက်ပိုပြီး မင်းအလိုကို<br>မဖြည့်နိုင်ဘူး ဒီထက်ပိုပြီး<br>မဖြစ်နိုင်ဘူး မတတ်နိုင်ဘူး</p>
        
        <p>▪️▪️▪️</p>
        
        <p>ကိုယ်စွမ်းသလောက်တော့<br>ကိုယ်ကြိုးစားခဲ့ပါတယ်<br>ထိပ်ဆုံးထိ မရောက်ခဲ့ရတောင်<br>အလယ်အလတ်တော့ မကပါတယ်<br>စိတ်သွားသလောက်တော့<br>ကိုယ်လိုက်ပြီး မလုပ်ပေးနိုင်ဘူး<br>ဒီလောက်နဲ့မှ မကျေနပ်ရင်<br>လက်လျော့ဖို့ပဲ ကျန်တော့မယ်<br>ဒီထက်ပိုပြီး မင်းအလိုကို မဖြည့်နိုင်ဘူး<br>ဒီထက်ပိုပြီး မဖြစ်နိုင်ဘူး မတတ်နိုင်ဘူး</p>
        

    </div>
</div>
        <div class="audio-section">
            <div class="audio_detail">
                <audio controls>
                  <source src="../audio/De_htet_pop_matat_naing_voo.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
              <div class="favorite_heart-btn">
                <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
                  &#x2661;
              </div>
        </div>
        
            </div>
        </div>   
        
    
    


   
</body>
</html>