<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
</head>
<body>

    <nav class="navbar">
        <a href="/" class="logo">Song Cloud</a>
        <ul class="nav-links">
           
        </ul>
        <a href="/lobby" class="fav-btn">
            <span class="fav-icon"></span> Back
          </a>
          
      </nav>
    <section class="favorites-section">
        <h2>Your Favorites</h2>
        <div class="favorite-item">
            <div class="image">IMG</div>
            <div class="song-details">
                <p class="song-name">Favorite list name</p>
            </div>
        </div>
    </section>
    
    
</body>
</html>