<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
</head>
<body>
    <nav class="navbar">
        <a href="/" class="logo">Song Cloud</a>
        <ul class="nav-links">
      
        </ul>
        <section class="search-bar">
            <input type="text" id="search" placeholder="Search Music...">
        </section>
         <a href="/lobby" class="fav-btn">
            <span class="fav-icon"></span> Back
          </a>
    </nav>
    
    <div class="profile-container">
        <div class="artist-header">
            <div class="artist-img"><img src="../image/Htoo.jpg" alt="Htoo Eaint Tin" ></div>
            <h1 class="artist-name">Htoo Eain Tin</h1>
            <div class="music">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
        <hr>
        <div class="about-section">
            <h2>Htoo Eaint Tin</h2>
            <p class="artist-description">
                ထူးအိမ်သင် (၁ ဇူလိုင် ၁၉၆၃ - ၁၄ ဩဂုတ် ၂၀၀၄) သည် ၁၉၈၀ ခုနှစ်လယ်များတွင် မြန်မာ့ဂီတလောက၌ ပေါ့ဂီတကို ပေါ့ရော့ခ်၊ ပေါ့ဂျက်ဇ် စသည်ဖြင့် မတူညီသည့်အသွင်များဖြင့် ယူဆောင်ပေးသည့် ကျော်ကြားသော အဆိုတော် တေးရေးဆရာတစ်ယောက်ဖြစ်သည်။အနုပညာသက်တမ်း ၁၈ နှစ်တာကာလအတွင်း တကိုယ်တော် အယ်လ်ဘမ် ၁၄ ခုထိ ထုတ်လုပ်ခဲ့ပြီး သူ၏ အနုပညာလက်ရာများသည် မြန်မာပရိသတ်များကြားတွင် ယနေ့တိုင် လွှမ်းမိုးနေဆဲဖြစ်သည်။
                နောက်ဆုံး သီချင်းခွေအတွက် Oasis တေးသံသွင်းတွင် အသံသွင်းမှုများ ပြုလုပ်ခဲ့ကာ ၁၄-၈-၂၀⁠၀၄ နံနက် ၁၁:၄၀ အသက်‌ ၄၂ နှစ်အရွယ်တွင် ကွယ်လွန်ခဲ့သည်။ သူ့ကိုချစ်ခင်လေးစားသော ပရိသတ်များက သူ့အတွက်အမှတ်တရအဖြစ် ဝက်ဆိုဒ်တစ်ခု ထောင်ပေးထားကြသည်။
            </p>
        </div>
    </div>
<hr>

    
    <div class="highlight-section"> 
        <div class="highlight">
            <a href="/Kyal_Tae_Sonne_Tae_Night">
                <div class="image">
                    <img src="../image/space_kyal.webp" alt="နေရာတိုင်းမှာ" />
                </div>
            </a>
            <div class="song-details">
                <p class="song-name">ကြယ်တွေစုံတဲ့ည</p>
                <p class="artist">ထူးအိမ့်သင်</p>
            </div>
                <div class="audio">
                <audio controls>
                  <source src="../audio/kyaltwalsonetatnya.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
        </div>
        <div class="heart">
          <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
            &#x2661;
        </div>
            </div>
        </div>
      </div>
      <hr>
        <div class="highlight-section"> 
          <div class="highlight">
              <a href="/Tat_Nay_Tot_Cxi_Lrr_Late_Mal">
                  <div class="image">
                      <img src="../image/space_oneday.jpg" alt="နေရာတိုင်းမှာ" />
                  </div>
              </a>
              <div class="song-details">
                  <p class="song-name">တစ်နေ့တော့ချစ်၍လာလိမ့်မယ်</p>
                  <p class="artist">ထူးအိမ့်သင်</p>
              </div>
                  <div class="audio">
                  <audio controls>
                    <source src="../audio/Htoo Eain Thin - Ta Nay Nay Tot Chit Lar Late Myi - တစနနတခစလလမမည.mp3" type="audio/mpeg">
                    Your browser does not support the audio element. 
                </audio>
          </div>
          <div class="heart">
            <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
              &#x2661;
          </div>
              </div>
          </div>
        </div>
        <hr>
      <div class="highlight-section"> 
        <div class="highlight">
            <a href="/Cxi_Tuu_Latt_Saung">
                <div class="image">
                    <img src="../image/anime_cxitulattsaung.jpg" alt="နေရာတိုင်းမှာ" />
                </div>
            </a>
            <div class="song-details">
                <p class="song-name">ချစ်သူလက်ဆောင်</p>
                <p class="artist">ထူးအိမ့်သင်</p>
            </div>
                <div class="audio">
                <audio controls>
                  <source src="../audio/cxituulatsaung.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
        </div>
        <div class="heart">
          <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
            &#x2661;
        </div>
            </div>
        </div>
      </div>
      <hr>
      <div class="highlight-section"> 
        <div class="highlight">
            <a href="/Sway_Tal">
                <div class="image">
                    <img src="../image/anime_sayytal.jpg" alt="နေရာတိုင်းမှာ" />
                </div>
            </a>
            <div class="song-details">
                <p class="song-name">ဆွေးတယ်</p>
                <p class="artist">ထူးအိမ့်သင်</p>
            </div>
                <div class="audio">
                <audio controls>
                  <source src="../audio/sayytal.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
        </div>
        <div class="heart">
          <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
            &#x2661;
        </div>
            </div>
        </div>
      </div>
      <script src="../javascript/script.js"></script>
</body>
</html>