<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('partials/head') %>
    </head>
<body>

    
    <nav class="navbar">
        <a href="/" class="logo">Song Cloud</a>
        <ul class="nav-links">
      
        </ul>
         <a href="/Htoo_Eaint_Tin" class="fav-btn">
            <span class="fav-icon"></span> Back
          </a>
    </nav>
   

    <div class="song-details-container">
        <div class="image-section">
            <div class="song-cover-container">
                <img src="../image/anime_lwan.gif" alt="Song Cover" class="song-cover">
            </div>
            <div class="song-details1">
                <p class="song-named">ကြယ်တွေစုံတဲ့ည</p>
                <p class="artistd">ထူးအိမ့်သင်</p>
            </div>
        </div>
        <div class="lyrics-section">
    <div class="lyrics-header">
        <h2>Lyrics</h2>
    </div>
    <div class="lyrics-content">
        <p>ကြယ်တွေစုံတဲ့ည ကိုယ့်အိပ်မက်လေးငယ်<br>ကြယ်တွေစုံတဲ့ည ဘဝလင့်ခြင်းရယ်<br>ရင်ခုန်သံနဲ့ ထုဆစ်ထားတဲ့ သီချင်းတွေလည်း<br>ရင်တွေကွဲသွားအောင် ဆိုနေဦးမည်<br>ကြယ်တွေစုံတဲ့ည အဝေးအိမ်ကိုလွမ်းတယ်<br>ကြယ်တွေစုံတဲ့ည ခရီးမိုင်တွေ့ခြားစေ<br>ဒဏ်ရာတွေနဲ့ ရေးချစ်ထားတဲ့ နေ့တွေလည်း<br>ကျော်လွန်သွားခဲ့ရင် အတူပြန်ဆုံဦးမယ်</p>

<p>( နာကြင်စွာတစ်ယောက်တည်း<br>တစ်ရေးနိုးတဲ့ညတို့ မှောင်နေဆဲ …<br>အိမ်ပြန်ချင်ပေမယ့် မပြီးဆုံးတဲ့<br>အိပ်မက်ရှည်တွေနဲ့ - </p>

<p>အိုး .... အမြဲတမ်းသတိရနေတယ်<br>ရှင်းပြလို့ပေးပါကွယ် ကြယ်ပွင့်လေးရေ<br>ငါ့ရဲ့ အကြောင်းတွေ - )</p>

<p>ကြယ်တွေစုံတဲ့ည ထပ်ကြရဦးမယ်<br>ကြယ်တွေတကယ်စုံတဲ့ညလှနေမှာပေါ့ကွယ်<br>နေညိုညိုလမ်းလေးထက်နေ့စဉ်စောင့်နေတယ်<br>မျှော်လင့်ခြင်းများရယ်<br>အိမ်ပြန်ချိန်များရယ်</p>

<p>🎤🎤🎤</p>

<p>( နာကျင်စွာ တစ်ယောက်တည်း တရေးနိုးတဲ့ညတို<br>မှောင်နေဆဲ့ အိမ်ပြန်ချင်ပေမယ့် မပြီးဆုံး<br>တဲ့ အိမ်မက်ရှည်တွေနဲ့ အိုး အမြဲတမ်းသတိရ<br>ရှင်းပြလို့ပေးပါကွယ် ကြယ်ပွင့်လေးရေ<br>ငါ့ရဲ့ အကြောင်းတွေ )</p>

<p>ကြယ်တွေစုံတဲ့ည ထပ်ကြရဦးမယ်<br>ကြယ်တွေတကယ်စုံတဲ့ည လှနေမှာပေါ့ကွယ်<br>နေညိုညိုလမ်းလေးထက် နေ့စဉ်စောင့်နေမယ်<br>မျှော်လင့်ခြင်းများရယ် အိမ်ပြန်ချိန်လေး</p>

<p>နေညိုညိုလမ်းလေးထက် နေ့စဉ်စောင့်နေတယ်<br>မျှော်လင့်ခြင်းများရယ်<br>အိမ်ပြန်ချိန်များရယ်</p>


    </div>
</div>
        <div class="audio-section">
            <div class="audio_detail">
                <audio controls>
                  <source src="../audio/lwan.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
              <div class="favorite_heart-btn">
                <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
                  &#x2661;
              </div>
        </div>
        
            </div>
        </div>   
        
    
    


   
</body>
</html>