<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
</head>
<body>
  <nav class="navbar_lobby">
    <a href="/" class="logo">Song Cloud</a>
    <ul class="nav-links">
    </ul>
  

    <section class="search-bar">
      <input type="text" id="search" placeholder="Search Music...">
  </section>

    <a href="/fav" class="fav-btn">
        <span class="fav-icon"></span> Favorites
    </a>
  </nav>


<section class="trend-section">
  <h2>Legendary Artist</h2>
  <div class="carousel">
    <button class="scroll-btn left" onclick="scrollCarousel(-1)">&#10094;</button>
    <div class="image-container" id="imageContainer">

      <a href="/Sai_Htee_Saing">
      <div  class="singer"><img src="../image/sai htee saing.jpg" alt="Sai Htee Saing" ></div>
      <h4>Sai Htee Saing</h4>
      </a>
      
      <a href="/Khin_Maung_Toe">
        <div  class="singer"><img src="../image/Khin.jpg" alt="Khin Maung Toe" ></div>
        <h4>Khin Maung Toe</h4>
        </a>
        <a href="\Htoo_Eaint_Tin">
          <div  class="singer"><img src="../image/Htoo.jpg" alt="Htoo Eaint Tin" ></div>
          <h4>Htoo Eaint Tin</h4>
          </a>
      <a href="\Bo_phyu">
        <div  class="singer"><img src="../image/bo phyu.jpg" alt="Bo Phyu" ></div>
        <h4>Bo Phyu</h4>
        </a>
        <a href="\Han_Tun">
          <div  class="singer"><img src="../image/Han Tun.jpg" alt="Han Tun" ></div>
          <h4>Han Tun</h4>
          </a>
          <a href="\Zaw_Win_Htut">
            <div  class="singer"><img src="../image/Zaw Win Htut.jpg" alt="Zaw Win Htut" ></div>
            <h4>Zaw Win Htut</h4>
            </a>
            <a href="/Zaw_Paing">
              <div  class="singer"><img src="../image/Zaw Paing.jpg" alt="Zaw Paing" ></div>
              <h4>Zaw Paing</h4>
              </a>
    </div>
    <button class="scroll-btn right" onclick="scrollCarousel(1)">&#10095;</button>
  </div>
</section>
<br>
<hr>


<section class="trend-section1">
  <h2>Popular Song</h2>
  <div class="carousel1">
    <button class="scroll-btn left" onclick="scrollCarousel1(-1)">&#10094;</button>
    <div class="image-container" id="imageContainer1">
      <a href="/Nay_Yrr_Time_Mrr_Detail">
      <div  class="image"><img src="../image/nayyrr.jpg" alt="Image description" ></div>
      <h4>နေရာတိုင်းမှာ</h4>
      </a>
      <a href="/Wint_Mome">
        <div  class="image"><img src="../image/anime_wintmome.webp" alt="Image description" ></div>
        <h4>ဝတ်မှုန်</h4>
        </a>
        <a href="/Pan_Cxi_Tuu">
          <div  class="image"><img src="../image/anime_pancxituu.jpg" alt="Image description" ></div>
          <h4>ပန်းချစ်သူ</h4>
          </a>
          <a href="/Lwan">
            <div  class="image"><img src="../image/anime_lwan.gif" alt="Image description" ></div>
            <h4>လွမ်း</h4>
            </a>
            <a href="/Tabrwa_Yae_Yin_Twhel_Ngel">
              <div  class="image"><img src="../image/space_tabawa.jpg" alt="Image description" ></div>
              <h4>သဘာဝရဲ့ရင်သွေးငယ်</h4>
              </a>
              <a href="/De_Htet_Po_P_Ma_Tat_Naing_Buu_Detail">
                <div  class="image"><img src="../image/space_de_htet.avif" alt="Image description" ></div>
                <h4>ဒီထက်ပိုပြီးမတတ်နိုင်ဘူး</h4>
                </a>
                <a href="/Cherry_Ko_Tar_Pann_Prr_Detail">
                  <div  class="image"><img src="../image/cherry.avif" alt="Image description" ></div>
                  <h4>ချယ်ရီကိုသာပန်ပါကွယ်</h4>
                  </a>
    </div>
    <button class="scroll-btn right" onclick="scrollCarousel1(1)">&#10095;</button>
  </div>
</section>
<hr>
<div class="highlight-section"> 
  <div class="highlight">
      <a href="songd.html">
          <div class="image">
              <img src="../image/nay yrr time mrr.jpg" alt="နေရာတိုင်းမှာ" />
          </div>
      </a>
      <div class="song-details">
          <p class="song-name">နေရာတိုင်းမှာ</p>
          <p class="artist">ဆိုင်းထီးဆိုင်</p>
      </div>
          <div class="audio">
          <audio controls>
            <source src="../audio/နေရာတိုင်းမှာ.mp3" type="audio/mpeg">
            Your browser does not support the audio element. 
        </audio>
  </div>
  <div class="heart">
    <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
      &#x2661;
  </div>
      </div>
  </div>
</div>
<hr>
<div class="highlight-section"> 
  <div class="highlight">
      <a href="songd.html">
          <div class="image">
              <img src="../image/nay yrr time mrr.jpg" alt="နေရာတိုင်းမှာ" />
          </div>
      </a>
      <div class="song-details">
          <p class="song-name">နေရာတိုင်းမှာ</p>
          <p class="artist">ဆိုင်းထီးဆိုင်</p>
      </div>
          <div class="audio">
          <audio controls>
            <source src="../audio/နေရာတိုင်းမှာ.mp3" type="audio/mpeg">
            Your browser does not support the audio element. 
        </audio>
  </div>
  <div class="heart">
    <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
      &#x2661;
  </div>
      </div>
  </div>
</div>
<hr>
  <div class="highlight-section"> 
    <div class="highlight">
        <a href="songd.html">
            <div class="image">
                <img src="../image/nay yrr time mrr.jpg" alt="နေရာတိုင်းမှာ" />
            </div>
        </a>
        <div class="song-details">
            <p class="song-name">နေရာတိုင်းမှာ</p>
            <p class="artist">ဆိုင်းထီးဆိုင်</p>
        </div>
            <div class="audio">
            <audio controls>
              <source src="../audio/နေရာတိုင်းမှာ.mp3" type="audio/mpeg">
              Your browser does not support the audio element. 
          </audio>
    </div>
    <div class="heart">
      <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
        &#x2661;
    </div>
        </div>
    </div>
  </div>
  <hr>
<div class="highlight-section"> 
  <div class="highlight">
      <a href="songd.html">
          <div class="image">
              <img src="../image/nay yrr time mrr.jpg" alt="နေရာတိုင်းမှာ" />
          </div>
      </a>
      <div class="song-details">
          <p class="song-name">နေရာတိုင်းမှာ</p>
          <p class="artist">ဆိုင်းထီးဆိုင်</p>
      </div>
          <div class="audio">
          <audio controls>
            <source src="../audio/နေရာတိုင်းမှာ.mp3" type="audio/mpeg">
            Your browser does not support the audio element. 
        </audio>
  </div>
  <div class="heart">
    <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
      &#x2661;
  </div>
      </div>
  </div>
</div>
<hr>
<div class="highlight-section"> 
  <div class="highlight">
      <a href="songd.html">
          <div class="image">
              <img src="../image/nay yrr time mrr.jpg" alt="နေရာတိုင်းမှာ" />
          </div>
      </a>
      <div class="song-details">
          <p class="song-name">နေရာတိုင်းမှာ</p>
          <p class="artist">ဆိုင်းထီးဆိုင်</p>
      </div>
          <div class="audio">
          <audio controls>
            <source src="../audio/နေရာတိုင်းမှာ.mp3" type="audio/mpeg">
            Your browser does not support the audio element. 
        </audio>
  </div>
  <div class="heart">
    <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
      &#x2661;
  </div>
      </div>
  </div>
</div>

  <footer class="footer">
    <p>&copy; 2024 Song Cloud | Created by X-Star</p>
  </footer>
  <script src="../javascript/script.js"></script>
</body>
</html>
