<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('partials/head') %>
    </head>
<body>

    
    <nav class="navbar">
        <a href="/" class="logo">Song Cloud</a>
        <ul class="nav-links">
      
        </ul>
         <a href="/Khin_Maung_Toe" class="fav-btn">
            <span class="fav-icon"></span> Back
          </a>
    </nav>
   

    <div class="song-details-container">
        <div class="image-section">
            <div class="song-cover-container">
                <img src="../image/anime_lwan.gif" alt="Song Cover" class="song-cover">
            </div>
            <div class="song-details1">
                <p class="song-named">လွမ်း</p>
                <p class="artistd">ခင်မောင်တိုး</p>
            </div>
        </div>
        <div class="lyrics-section">
    <div class="lyrics-header">
        <h2>Lyrics</h2>
    </div>
    <div class="lyrics-content">
        <p>3<br>2<br>1<br>လွမ်း..<br>ရင်ထဲလှိုက်လို့ အတိတ်ကိုလွမ်း<br>လွမ်း..<br>ရင်ထဲရှိတဲ့ ဒီဇာတ်လမ်း<br>နွေရာသီ ရွက်ကြွေ<br>မြေပေါ် ပြေးလွှားလို့<br>လွင့်နေစဉ်မှာ..<br>သူ့တယောက်ကို သတိတရနဲ့<br>တမ်းတလို့ လွမ်းမိတယ်လေ..</p>

<p>ဟိုစဉ်တစ်ချိန် နွေအခါ<br>သူရယ် တို့နှစ်ဦးရင်းနှီးလို့<br>ပညာရှာရင်းနဲ့ ကျောင်းကြီးရဲ့<br>အရိပ်အောက်မှာ<br>ချစ်ကြသူတွေအဖြစ်<br>ရောက်ရှိခဲ့ကြတယ်<br>သိပ်ချစ်သူတွေလို့<br>အများက သတ်မှတ်ခဲ့တယ်<br>ငယ်စဉ်ဟိုတစ်ချိန်က<br>တို့ဘဝရဲ့အတိတ်<br>ဒီဇာတ်အလွမ်း</p>

<p>လွမ်း..<br>ရင်ထဲလှိုက်လို့ အတိတ်ကိုလွမ်း<br>လွမ်း..<br>ရင်ထဲရှိတဲ့ ဒီဇာတ်လမ်း<br>ပြန်မြင်ယောင်သေးတဲ့<br>နွေလေရူး တိုက်ခတ်မြူးနေစဉ်မှာ<br>သူ့အကြောင်းကို တွေးတောရင်း<br>လွမ်းရတဲ့ နေ့တစ်ရက်ပါလေ</p>

<p>ဟိုစဉ်တစ်ချိန် နွေအခါ<br>သူရယ် တို့နှစ်ဦးရောက်ခဲ့တယ်<br>အတူတူ လျှောက်ဖူးတဲ့<br>လမ်းလေးရဲ့ ဘေးတစ်ဖက်မှာ<br>ပန်းကလေးတွေ အရင်တိုင်း<br>ဖူးပွင့် လျက်ပဲမို့<br>တို့ ရဲ့ ရင်ခွင်ထဲ<br>လွမ်းရတဲ့ စိတ်ကြောင့်လေ<br>မြင်ယောင်ကာနေဆဲ<br>လွမ်းရသူ အချစ်ပုံရိပ်များ</p>

<p>Music...<br>3<br>2<br>1<br>လွမ်း..<br>ရင်ထဲလှိုက်လို့ သိပ်ကိုလွမ်း<br>လွမ်း..<br>ရင်ထဲရှိတဲ့ ဒီဇာတ်လမ်း</p>

<p>ပြန်မြင်ယောင်သေးတဲ့<br>နွေလေရူး တိုက်ခတ်မြူးနေစဉ်မှာ<br>သူ့အကြောင်းကို တွေးတောရင်း<br>လွမ်းရတဲ့ နေ့တစ်ရက်ပါလေ</p>

<p>ဟိုစဉ်တစ်ချိန် နွေအခါ<br>သူရယ် တို့နှစ်ဦးရောက်ခဲ့တယ်<br>အတူတူ လျှောက်ဖူးတဲ့<br>လမ်းလေးရဲ့ ဘေးတစ်ဖက်မှာ<br>ပန်းကလေးတွေ အရင်တိုင်း<br>ဖူးပွင့် လျက်ပဲမို့<br>တို့ ရဲ့ ရင်ခွင်ထဲ<br>လွမ်းရတဲ့ စိတ်ကြောင့်လေ<br>မြင်ယောင်ကာနေဆဲ<br>လွမ်းရသူ အချစ်ပုံရိပ်များ</p>

<p>လွမ်း..<br>ရင်ထဲလှိုက်လို့ သိပ်ကိုလွမ်း..</p>

<p>လွမ်း..<br>ရင်ထဲရှိတဲ့ ဒီဇာတ်လမ်း..</p>

<p>လွမ်း..<br>ရင်ထဲလှိုက်လို့ သိပ်ကိုလွမ်း..</p>

    </div>
</div>
        <div class="audio-section">
            <div class="audio_detail">
                <audio controls>
                  <source src="../audio/lwan.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
              <div class="favorite_heart-btn">
                <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
                  &#x2661;
              </div>
        </div>
        
            </div>
        </div>   
        
    
    


   
</body>
</html>