<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('partials/head') %>
    </head>
<body>

    
    <nav class="navbar">
        <a href="/" class="logo">Song Cloud</a>
        <ul class="nav-links">
      
        </ul>
         <a href="/Khin_Maung_Toe" class="fav-btn">
            <span class="fav-icon"></span> Back
          </a>
    </nav>
   

    <div class="song-details-container">
        <div class="image-section">
            <div class="song-cover-container">
                <img src="../image/anime_pancxituu.jpg" alt="Song Cover" class="song-cover">
            </div>
            <div class="song-details1">
                <p class="song-named">ပန်းချစ်သူ</p>
                <p class="artistd">ခင်မောင်တိုး</p>
            </div>
        </div>
        <div class="lyrics-section">
    <div class="lyrics-header">
        <h2>Lyrics</h2>
    </div>
    <div class="lyrics-content">
        <p>လေပြည်ညှင်းရယ်<br>ငြိမ်သက်ဆဲညမှာ<br>အသာအယာတိုးလို့ တိုက်ခတ်နေ<br>သင်းပျံ့မွှေးတဲ့ ပန်းရနံ့တွေ<br>ဆောင်ယူသယ်လာ လေညှင်းရယ်.</p>

<p>♫🎸♫🎸♫🎸♫<br>♫♫♫<br>♫♫<br>♫</p>

<p>ပန်းချစ်သူ ..တို့လက်နဲ့ကွယ်<br>ခူးဆွတ်ဖို့ စိုးရွံ့လို့နေတယ်..<br>ဆွတ်ယူမယ် ဟန်ပြင်ကာပင်<br>ယုယစွာ ထွေးပွေ့ ထားပါမယ်..</p>

<p>အသာအယာ ဆွတ်ယူ<br>ရင်မှာ သိမ်းထားမယ်..<br>အိုလေ.. ပန်းလေးတပွင့်ရယ်<br>ပန်းကိုချစ်တဲ့ ပန်းချစ်သူ..<br>ကိုယ်တိုင်ချူကာ ဆွတ်ခူးမယ်..</p>

<p>♫🎸♫🎸♫🎸♫<br>♫♫♫<br>♫♫<br>♫</p>

<p>ပန်းချစ်သူ .. တို့လက် နဲ့ကွယ်<br>ခူးဆွတ်ဖို့ စိုးရွံ့လို့ နေတယ်..<br>ဆွတ်ယူမယ် ဟန်ပြင်ကာပင်<br>ယုယစွာ ထွေးပွေ့ထားပါမယ်.</p>

<p>အသာအယာ ဆွတ်ယူ<br>ရင်မှာ သိမ်းထားမယ်..<br>အိုလေ .. ပန်းလေး တပွင့်ရယ်..<br>ပန်းကိုချစ်တဲ့ ပန်းချစ်သူ..<br>ကိုယ်တိုင်ချူကာ ဆွတ်ခူးမယ်..</p>

<p>➿🌼➿🌼➿🌼<br>➿🌼➿🌼</p>

<p>ပန်းချစ်သူ .. တို့လက် နဲ့ကွယ်<br>ခူးဆွတ်ဖို့ စိုးရွံ့လို့ နေတယ်..<br>ဆွတ်ယူမယ် ဟန်ပြင်ကာပင်<br>ယုယစွာ ထွေးပွေ့ထားပါမယ်.</p>

<p>အသာအယာ ဆွတ်ယူ<br>ရင်မှာ သိမ်းထားမယ်..<br>အိုလေ .. ပန်းလေး တပွင့်ရယ်..<br>ပန်းကိုချစ်တဲ့ ပန်းချစ်သူ..<br>ကိုယ်တိုင်ချူကာ ဆွတ်ခူးမယ်..</p>

    </div>
</div>
        <div class="audio-section">
            <div class="audio_detail">
                <audio controls>
                  <source src="../audio/pann_cxi_tu.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
              <div class="favorite_heart-btn">
                <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
                  &#x2661;
              </div>
        </div>
        
            </div>
        </div>   
        
    
    


   
</body>
</html>