<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
</head>
<body>
    <nav class="navbar">
        <a href="/" class="logo">Song Cloud</a>
        <ul class="nav-links">
      
        </ul>
        <input type="text" class="search-bar" placeholder="Search Music...">
         <a href="/lobby" class="fav-btn">
            <span class="fav-icon"></span> Back
          </a>
    </nav>
    
    <div class="profile-container">
        
        <div class="artist-header">
            <div class="artist-img"><img src="../image/sai htee saing.jpg" alt="Sai Htee Saing" ></div>
            <h1 class="artist-name">Sai Htee Saing</h1>
        
            <div class="music">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
        
        <hr>
        <div class="about-section">
            <h2>Sai Htee Saing</h2>
            <p class="artist-description">
                စိုင်းထီးဆိုင်ကို အဖဦးနန္ဒာ၊ အမိ နန်းအိန်တို့မှ (၁၉၅၀) ပြည့်နှစ်၊ စက်တင်ဘာလ (၂၃) ရက်၊ မြန်မာသက္ကရာဇ် (၁၃၁၂) ခုနှစ်၊ တော်သလင်းလဆန်း (၁၂) ရက်၊ စနေနေ့တွင် ရှမ်းပြည်နယ်တောင်ပိုင်း၊ လင်းခေးမြို့တွင် ဖွားမြင်ခဲ့သည်။
                စိုင်းထီးဆိုင်သည် မြန်မာပြည်တွင် ကျော်ကြားသော ရှမ်းလူမျိုး တေးရေးဆရာ၊ အဆိုတော်တစ်ဦးဖြစ်သည်။ သူ၏ ဂီတခရီးတစ်လျောက်လုံးတွင် ရှမ်းဘာသာဖြင့် သီဆိုသော တေးစု ၃ - ၄ ခု ခန့် နှင့် ဗမာဘာသာဖြင့်သီဆိုသော တေးစု တစ်ရာခန့် ထွက်ရှိခဲ့သည်။ သူသည် ကန်ထရီးဂီတကိုသာ အထူးအသားပေး ရေးသားခဲ့လေသည်။
                စိုင်းထီးဆိုင်သည် မကျန်းမမာဖြစ်လာသဖြင့် ရန်ကုန်ပြည်သူ့ဆေးရုံကြီး အစာအိမ်နှင့်အူလမ်းကြောင်းဌာနတွင် တက်ရောက်ကုသခဲ့ရာမှ (၁၀၊၃၊၂၀၀၈) ရက်နေ့ နံနက် (၅:၄၅)နာရီတွင် ကွယ်လွန်ခဲ့သည်။
            </p>
        </div>
    </div>
<hr>

    
    <div class="highlight-section"> 
        <div class="highlight">
            <a href="/Nay_Yrr_Time_Mrr_Detail">
                <div class="image">
                    <img src="../image/nayyrr.jpg" alt="နေရာတိုင်းမှာ" />
                </div>
            </a>
            <div class="song-details">
                <p class="song-name">နေရာတိုင်းမှာ</p>
                <p class="artist">ဆိုင်းထီးဆိုင်</p>
            </div>
                <div class="audio1">
                <audio controls>
                  <source src="../audio/နေရာတိုင်းမှာ.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
        </div>
        <div class="heart">
          <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
            &#x2661;
        </div>
            </div>
        </div>
      </div>
      <hr>
        <div class="highlight-section"> 
          <div class="highlight">
              <a href="/Cherry_Ko_Tar_Pann_Prr_Detail">
                  <div class="image">
                      <img src="../image/cherry.avif" alt="နေရာတိုင်းမှာ" />
                  </div>
              </a>
              <div class="song-details">
                  <p class="song-name">ချယ်ရီကိုသာပန်ပါကွယ်</p>
                  <p class="artist">ဆိုင်းထီးဆိုင်</p>
              </div>
              <div class="audio">
                <audio controls>
                  <source src="../audio/Cherry_ko_trr_pan_prr.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
        </div>
                  
          <div class="heart">
            <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
              &#x2661;
          </div>
              </div>
          </div>
        </div>
        <hr>
      <div class="highlight-section"> 
        <div class="highlight">
            <a href="/De_Htet_Po_P_Ma_Tat_Naing_Buu_Detail">
                <div class="image">
                    <img src="../image/space_de_htet.avif" alt="ဒီထက်ပိုပြီးမတတ်နိုင်ဘူး" />
                </div>
            </a>
            <div class="song-details">
                <p class="song-name">ဒီထက်ပိုပြီးမတတ်နိုင်ဘူး</p>
                <p class="artist">ဆိုင်းထီးဆိုင်</p>
            </div>
                <div class="audio">
                <audio controls>
                  <source src="../audio/De_htet_pop_matat_naing_voo.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
        </div>
        <div class="heart">
          <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
            &#x2661;
        </div>
            </div>
        </div>
      </div>
      <hr>
      <div class="highlight-section"> 
        <div class="highlight">
            <a href="/Tabrwa_Yae_Yin_Twhel_Ngel">
                <div class="image">
                    <img src="../image/space_tabawa.jpg" alt="နေရာတိုင်းမှာ" />
                </div>
            </a>
            <div class="song-details">
                <p class="song-name">သဘာဝရဲ့ရင်သွေးငယ်</p>
                <p class="artist">ဆိုင်းထီးဆိုင်</p>
            </div>
                <div class="audio">
                <audio controls>
                  <source src="../audio/Tabrrwa_yae_yin_twae_ngel.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
        </div>
        <div class="heart">
          <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
            &#x2661;
        </div>
            </div>
        </div>
      </div>
      <script src="../javascript/script.js"></script>
</body>
</html>