<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('partials/head') %>
    </head>
<body>

    
    <nav class="navbar">
        <a href="/" class="logo">Song Cloud</a>
        <ul class="nav-links">
      
        </ul>
         <a href="/Khin_Maung_Toe" class="fav-btn">
            <span class="fav-icon"></span> Back
          </a>
    </nav>
   

    <div class="song-details-container">
        <div class="image-section">
            <div class="song-cover-container">
                <img src="../image/anime_salaeshirt.avif" alt="Song Cover" class="song-cover">
            </div>
            <div class="song-details1">
                <p class="song-named">ဆည်းလည်းလှိုက်သံ</p>
                <p class="artistd">ခင်မောင်တိုး</p>
            </div>
        </div>
        <div class="lyrics-section">
    <div class="lyrics-header">
        <h2>Lyrics</h2>
    </div>
    <div class="lyrics-content">
        <p>ဆည်းလည်းလေးများ<br>ပွတ်တိုက်ရိုက်သံလို..<br>ခေါင်းလောင်းလေးများ<br>ထိုးနှက်လိှုက်သံလို..<br>ကြားလိုက်တဲ့ အခိုက်အတန့်မှာ<br>အေးငြိမ်းတဲ့ ကျောင်းအရိပ်ဆီ<br>လှမ်းရင်းပြေးလို့<br>တွေ့လိုက်ချင်ရဲ့..</p>

<p>****</p>

<p>ကျေးငှက်ကလေးတို့<br>ရုတ်တရက်ထပျံစဉ်..<br>သစ်ရွက်ခြောက်မို့<br>လွင့်လို့ကြွေတာဆို .<br>မင်းအတွက်တော့<br>အမှတ်တမဲ့သာ<br>ငါ့ဘက်က ဘဝတသက်တာ<br>ဆုံးရှုံးမှုနဲ့ချွေးသိပ်ကာ<br>မေ့ပစ်လိုက်ချင်ရဲ့...</p>

<p>*****<br>*****MUSIC*****<br>*****</p>

<p>မိုးနှောင်းကျရေ<br>စီးတဲ့ချောင်းငယ်ရေ..<br>တေးသွားလေး<br>ဆိုညည်းရင်း ကျောက်စိုင်ကို..<br>ဖြည်းဖြည်းချင်းပွတ်တိုက်ကာ<br>နေ့လရက်ဆက်ခဲ့စဉ်<br>စီးဆင်းရင်းနဲ့ရွေ့ခဲ့တယ်တဲ့..</p>

<p>******<br>ဆည်းလည်းလေးများ<br>ပြတဲ့တရားသံကို..<br>စမ်းချောင်းလေးတို့<br>ဇွဲနဲ့အားမာန်နဲ့..</p>

<p>ပေါင်းစပ်ပြီးကျင့်ခဲ့ရင်<br>အေးငြိမ်းတဲ့သစ်အရိပ်မှာ<br>စွန့်လွှတ်မှုနဲ့ခွင့်လွှတ်စဉ်<br>ငြိမ်းသွားလိမ့်မယ်တဲ့...</p>

<p>******<br>*****MUSIC*****<br>******</p>

<p>ဆည်းလည်းလေးများ<br>ပွတ်တိုက်ရိုက်သံလို..<br>ခေါင်းလောင်းလေးများ<br>ထိုးနှက်လိှုက်သံလို..<br>ကြားလိုက်တဲ့ အခိုက်အတန့်မှာ<br>အအေးငြိမ်းတဲ့ ကျောင်းအရိပ်ဆီ<br>လှမ်းရင်းပြေးလို့<br>တွေ့လိုက်ချင်ရဲ့..</p>

<p>*****</p>

<p>ဆည်းလည်းလေးများ<br>ပြတဲ့တရားသံကို..<br>စမ်းချောင်းလေးတို့<br>ဇွဲနဲ့အားမာန်နဲ့..<br>ပေါင်းစပ်ပြီးကျင့်ခဲ့ရင်<br>အေးငြိမ်းတဲ့သစ်အရိပ်မှာ<br>စွန့်လွှတ်မှုနဲ့ခွင့်လွှတ်စဉ်<br>ငြိမ်းသွားလိမ့်မယ်တဲ့....</p>

    </div>
</div>
        <div class="audio-section">
            <div class="audio_detail">
                <audio controls>
                  <source src="../audio/selsaeshittan.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
              <div class="favorite_heart-btn">
                <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
                  &#x2661;
              </div>
        </div>
        
            </div>
        </div>   
        
    
    


   
</body>
</html>