<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('partials/head') %>
    </head>
<body>

    
    <nav class="navbar">
        <a href="/" class="logo">Song Cloud</a>
        <ul class="nav-links">
      
        </ul>
         <a href="/Htoo_Eaint_Tin" class="fav-btn">
            <span class="fav-icon"></span> Back
          </a>
    </nav>
   

    <div class="song-details-container">
        <div class="image-section">
            <div class="song-cover-container">
                <img src="../image/anime_lwan.gif" alt="Song Cover" class="song-cover">
            </div>
            <div class="song-details1">
                <p class="song-named">ဆွေးတယ်</p>
                <p class="artistd">ထူးအိမ့်သင်</p>
            </div>
        </div>
        <div class="lyrics-section">
    <div class="lyrics-header">
        <h2>Lyrics</h2>
    </div>
    <div class="lyrics-content">
        <p>လ ရောင်ထဲ ကိုယ်လမ်းလျှောက်ချင်တယ်<br>ဘယ်ကိုရောက် နေလဲ မစဉ်းစားဘူးကွယ်<br>အိုး… အချစ်ရယ်<br>သွားကြစို ့လာ နှစ်ယောက်တည်း<br>သီချင်းလေး ညည်းမယ်<br>တွေးကြည့် ကိုယ် သိပ်ပျော်မှာပဲ...</p>

<p>ချစ်သူရဲ့ အရိပ်ကလေး ဖြစ်ချင်တယ်<br>ဒီလိုချစ်နေတာ တို့ မှားသွားလားကွယ်<br>အိုး… ခက်တယ်<br>တို့နှစ်ယောက်အချစ်ကို<br>ဘာကြောင့် ခွဲရက်ကြတယ်<br>အခုတော့ ကိုယ် သိပ်ငိုချင်တယ်...</p>

<p>ကြင်နာသူလေး အခုလောက်ဆို လွမ်းလို့နေမယ်<br>နှလုံးသား... အချင်းချင်း နားလည်<br>ကိုယ်တိုင်လည်း စဉ်းစားရင် ကျမျက်ရည်ဝဲ<br>အသည်း များ... ကွဲသွားမလားကွယ်<br>ဆွေးတယ်...<br>အို ဟို ့ဟိုး… ဆွေးတယ်...</p>

<p>သူ့ ရင်ထဲ ကိုယ်အမြဲ ရှိနေမယ်<br>ဘာတွေဖြစ်နေလဲ မတွေးတော့ဘူးကွယ်<br>အိုး… အချစ်ရယ် ချစ်ခဲ့ကြတာ<br>အိမ်မက်လေး များလားကွယ်<br>အခုတော့ ကိုယ် လွမ်းနေမှာပဲ...</p>

<p>ကြင်နာသူလေး အခုလောက်ဆို လွမ်းလို့နေမယ်<br>နှလုံးသား... အချင်းချင်းနားလည်<br>ကိုယ်တိုင်လည်း စဉ်းစားရင် ကျမျက်ရည်ဝဲ<br>အသည်းများ... ကွဲသွားမလားကွယ်<br>ဆွေးတယ်...<br>အို ဟို ့ဟိုး...</p>

<p>ကဲ မလွမ်းဘူးလား ...</p>

<p>Music: D Gbm Em A D Gbm Em A Gbm Bm Em A<br>1<br>2<br>3<br>Go ...</p>

<p>လ ရောင်ထဲ ကိုယ် လမ်းလျှောက်ချင်တယ်<br>ဘယ်ကိုရောက် နေလဲ မစဉ်းစားဘူးကွယ်<br>အိုး… အချစ်ရယ်<br>သွားကြစို ့လာ နှစ်ယောက်တည်း<br>သီချင်းလေး ညည်းမယ်<br>တွေးကြည့် ကိုယ် သိပ်ပျော်မှာပဲ...</p>

<p>ကြင်နာသူလေး အခုလောက်ဆို လွမ်းလို့နေမယ်<br>နှလုံးသား... အချင်းချင်းနားလည်<br>ကိုယ်တိုင်လည်း စဉ်းစားရင် ကျမျက်ရည်ဝဲ<br>အသည်း များ... ကွဲသွားမလားကွယ်<br>ဆွေးတယ်...<br>အို ဟို ့ဟိုး...</p>

<p>ကြင်နာသူလေး အခုလောက်ဆို လွမ်းလို့နေမယ်<br>နှလုံးသား... အချင်းချင်း နားလည်<br>ကိုယ်တိုင်လည်း စဉ်းစားရင် ကျမျက်ရည်ဝဲ<br>အသည်းများ... ကွဲသွားမလားကွယ်<br>ဆွေးတယ်...<br>အို ဟို ့ဟိုး… ဆွေးတယ်<br>ဆွေးတယ်...<br>အို ဟို ့ဟိုး… ဆွေးတယ်<br>ဆွေးတယ်...<br>အို ဟို ့ဟိုး… ဆွေးတယ်<br>ဆွေးတယ်...</p>


    </div>
</div>
        <div class="audio-section">
            <div class="audio_detail">
                <audio controls>
                  <source src="../audio/sayytal.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
              <div class="favorite_heart-btn">
                <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
                  &#x2661;
              </div>
        </div>
        
            </div>
        </div>   
        
    
    


   
</body>
</html>