<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('partials/head') %>
    </head>
<body>

    
    <nav class="navbar">
        <a href="/" class="logo">Song Cloud</a>
        <ul class="nav-links">
      
        </ul>
         <a href="/Sai_Htee_Saing" class="fav-btn">
            <span class="fav-icon"></span> Back
          </a>
    </nav>
   

    <div class="song-details-container">
        <div class="image-section">
            <div class="song-cover-container">
                <img src="../image/space_tabawa.jpg" alt="Song Cover" class="song-cover">
            </div>
            <div class="song-details1">
                <p class="song-named">သဘာဝရဲ့ရင်သွေးငယ်</p>
                <p class="artistd">ဆိုင်းထီးဆိုင်</p>
                
            </div>
        </div>
        <div class="lyrics-section">
    <div class="lyrics-header">
        <h2>Lyrics</h2>
    </div>
    <div class="lyrics-content">
        <p>လူတွေနဲ့ ဝေးဝေး ဝေးတဲ့နယ်မြေ<br>အတူတူ သွားသွား သွားကြမယ်လေ<br>နက်ရှိုင်းတဲ့တောရဲ့ ရင်ခွင်မှာပျော်နေ<br>သဘာဝရဲ့ ရင်သွေးငယ်တွေ<br>သဘာဝရဲ့ ရင်သွေးငယ်တွေ</p>

<p>ဒီကမ္ဘာမှာ စစ်စစ် စစ်မဖြစ်ရာမြေ<br>တစ်နေရာ ရှိရှိ ရှိရမယ်လေ<br>ထာဝရငြိမ်းချမ်းမှုရှာကာ ပျော်ရွှင်နေ<br>သဘာဝရဲ့ ရင်သွေးငယ်တွေ<br>သဘာဝရဲ့ ရင်သွေးငယ်တွေ</p>

<p>ပိုင်ဆိုင်တာအားလုံးစွန့်ကာလေ<br>မနာလိုစရာလည်းပဲ မရှိတော့ပေ<br>ဘယ်သူမဆိုအားလုံး တန်းတူနေ<br>ညီအကိုလို ကြင်နာမှုနဲ့လေ<br>လောကအသစ်တစ်ခုတည်နေ</p>

<p>အရာရာ လှလှ လှပရာမြေ<br>အရာရာ သန့်သန့် သန့်ရှင်းရာမြေ<br>ထာဝရငြိမ်းချမ်းမှုရှာကာ ပျော်ရွှင်နေ<br>သဘာဝရဲ့ ရင်သွေးငယ်တွေ<br>သဘာဝရဲ့ ရင်သွေးငယ်တွေ</p>

<p>ပိုင်ဆိုင်တာအားလုံးစွန့်ကာလေ<br>မနာလိုစရာလည်းပဲ မရှိတော့ပေ<br>ဘယ်သူမဆိုအားလုံး တန်းတူနေ<br>ညီအကိုလို ကြင်နာမှုနဲ့လေ<br>လောကအသစ်တစ်ခုတည်နေ</p>

<p>အရာရာ လှလှ လှပရာမြေ<br>အရာရာ သန့်သန့် သန့်ရှင်းရာမြေ<br>ထာဝရငြိမ်းချမ်းမှုရှာကာ ပျော်ရွှင်နေ<br>သဘာဝရဲ့ ရင်သွေးငယ်တွေ<br>သဘာဝရဲ့ ရင်သွေးငယ်တွေ<br>သဘာဝရဲ့ ရင်သွေးငယ်တွေ</p>

<p>သဘာဝရဲ့ ရင်သွေးငယ်တွေ</p>

    </div>
</div>
        <div class="audio-section">
            <div class="audio_detail">
                <audio controls>
                  <source src="../audio/Tabrrwa_yae_yin_twae_ngel.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
              <div class="favorite_heart-btn">
                <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
                  &#x2661;
              </div>
        </div>
        
            </div>
        </div>   
        
    
    


   
</body>
</html>