<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('partials/head') %>
    </head>
<body>

    
    <nav class="navbar">
        <a href="/" class="logo">Song Cloud</a>
        <ul class="nav-links">
      
        </ul>
         <a href="/Htoo_Eaint_Tin" class="fav-btn">
            <span class="fav-icon"></span> Back
          </a>
    </nav>
   

    <div class="song-details-container">
        <div class="image-section">
            <div class="song-cover-container">
                <img src="../image/anime_lwan.gif" alt="Song Cover" class="song-cover">
            </div>
            <div class="song-details1">
                <p class="song-named">တစ်နေ့တော့ချစ်၍လာလိမ့်မယ်</p>
                <p class="artistd">ထူးအိမ့်သင်</p>
            </div>
        </div>
        <div class="lyrics-section">
    <div class="lyrics-header">
        <h2>Lyrics</h2>
    </div>
    <div class="lyrics-content">
        <p>Ready...!<br>1<br>2<br>3<br>Go...</p>

<p>သူပန်ထားတဲ့ပန်းနီနီ<br>နေရာခဏလဲချင်သည်<br>ကြင်နာသူလေးလှဖို့အစွမ်းကုန် ကြိုးစားမည်<br>ရင်မှာသည်လောက်ချစ်ပါသည်<br>သူပျော်တာအမြဲတွေ့ချင်သည်</p>

<p>သူ့အရိပ်အဖြစ်အမြဲရှိနေတတ်ပြီ 🌹</p>

<p>သူဆင်မြန်းတဲ့ဖိနပ်နီနီ<br>နေရာခဏလဲချင်သည်<br>ကြင်နာသူလေးခလုတ်မထိဖို့ကိုယ် ကြိုးစားမည်<br>ရင်မှာသည်လောက်ချစ်ပါသည်<br>ဘာမဆိုကိုယ် အဆုံးရှုံး ခံမည်</p>

<p>အလှမ်းဝေးတဲ့ပန်းကလေး မြနှင်း ဆီ … 🌹</p>

<p>ကျောင်းသွားကျောင်းပြန် ..<br>အချိန်မှန် အမြဲ စောင့်လို့ကြည့်သည် ..<br>သူ့မျက်ဝန်းနဲ့ဆုံရင် ရင်ခုန်သည် ..<br>သူ့အပြုံး လေးများမြင်ရင်<br>အပျော်လွန်ပြီး အိပ်မရတော့ပြီ<br>သိပ် ချစ်တဲ့ အကြောင်းကို</p>

<p>ကဗျာတွေရေး မည် ..🌹</p>

<p>နေရိပ်မိုးတဲ့ထီးနီနီ<br>နေရာခဏလဲချင်သည်<br>ကြင်နာသူလေးအေမြဖို့ကိုယ် ကြိုးစားမည်<br>ရင်မှာသည်လောက်ချစ်ပါသည်<br>ဒါကို သူလဲ သိနေပြီ</p>

<p>တစ်နေ့နေ့တော့ ချစ်၍လာလိမ့်မည် ..🌹</p>

<p>🌹 🌹 🌹 🌹</p>

<p>Uploaded by သန်းေဇာ္ၫြန္႕<br>@mrthannzawnyunt1</p>

<p>🌹 🌹 🌹 🌹<br>🌹 🌹 🌹<br>🌹 🌹<br>🌹</p>

<p>ကျောင်းသွားကျောင်းပြန် ..<br>အချိန်မှန် အမြဲ စောင့်လို့ကြည့်သည် ..<br>သူ့မျက်ဝန်းနဲ့ဆုံရင် ရင်ခုန်သည်<br>သူ့အပြုံး လေးများမြင်ရင်<br>အပျော်လွန်ပြီး အိပ်မရတော့ပြီ<br>သိပ် ချစ်တဲ့ အကြောင်းကို</p>

<p>ကဗျာတွေရေး မည်..🌹</p>

<p>နေရိပ်မိုးတဲ့ထီးနီနီ<br>နေရာခဏလဲချင်သည်<br>ကြင်နာသူလေးအေမြဖို့ကိုယ် ကြိုးစားမည်<br>ရင်မှာသည်လောက်ချစ်ပါသည်<br>ဒါကို သူလဲ သိနေပြီ</p>

<p>တစ်နေ့နေ့တော့ချစ်၍လာလိမ့်မည် ..🌹</p>

<p>သူပန်ထားတဲ့ပန်းနီနီ<br>ကျနော်ခဏဖြစ်ချင်သည်<br>တစ်နေ့ နေ့တော့ချစ်၍ လာ လိမ့် မည် ..🌹</p>

<p>🌹 🌹 🌹 🌹</p>

    </div>
</div>
        <div class="audio-section">
            <div class="audio_detail">
                <audio controls>
                  <source src="../audio/Htoo Eain Thin - Ta Nay Nay Tot Chit Lar Late Myi - တစနနတခစလလမမည.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
              <div class="favorite_heart-btn">
                <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
                  &#x2661;
              </div>
        </div>
        
            </div>
        </div>   
        
    
    


   
</body>
</html>