<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('partials/head') %>
    </head>
<body>

    
    <nav class="navbar">
        <a href="/" class="logo">Song Cloud</a>
        <ul class="nav-links">
      
        </ul>
         <a href="/Khin_Maung_Toe" class="fav-btn">
            <span class="fav-icon"></span> Back
          </a>
    </nav>
   

    <div class="song-details-container">
        <div class="image-section">
            <div class="song-cover-container">
                <img src="../image/anime_wintmome.webp" alt="Song Cover" class="song-cover">
            </div>
            <div class="song-details1">
                <p class="song-named">ဝတ်မှုန်</p>
                <p class="artistd">ခင်မောင်တိုး</p>
            </div>
        </div>
        <div class="lyrics-section">
    <div class="lyrics-header">
        <h2>Lyrics</h2>
    </div>
    <div class="lyrics-content">
        <p>Ready…!<br>1<br>2<br>3<br>Go…</p>

<p>တေးသွားချို သီကာကျူးတဲ့<br>ကျေးငှက်ကို လှမ်းလို့ကြည့်ကာ<br>ပန်းကလေးကပြောလိုက်တယ်<br>လောကရဲ့ အလှအပဟာ<br>တို့ပွင့်မှပြည့်စုံတာတဲ့</p>

<p>ပန်းချစ်သူ ပျားကပြုံးတယ်<br>တောက်ပတဲ့ အဆင်းလည်းရှိတယ်<br>လိုက်ဖက်မယ့် မွှေးရနံ့နဲ့ဆို<br>ဝတ်မှုန်ရယ် နင်နဲ့နှိုင်းရင်<br>ရှုံးကြမှာပဲ</p>

<p>ရင်ထဲရှိ ရှိသမျှပြောပြရရင်<br>တကယ်လှတယ်<br>မြင်သူတကာငေး ငေးလောက်အောင်<br>လှရက်လို့<br>ချူလိုသူတွေ လက်ထဲမှာ<br>အလှမပျက်အောင် ဆုတောင်းတယ်<br>ပန်းကလေးရယ်<br>သင်းပျံ့ကာ အမြဲမွှေးစေ့ချင်တယ်...</p>

<p>🐝🌸🌹🌺🐝🌻🌼🌷🐝</p>

<p>Ready…!<br>1<br>2<br>3<br>Go…</p>

<p>မိုးကောင်းကင် ကြည်ပြာအောက်မှာ<br>ကောင်းခြင်းတွေ ပေါင်းစုစည်းကာ<br>သူ့ထက်ပိုကဲလှသူ<br>ရှိတော့ဖြင့် ရှိလိမ့်မယ်<br>အေးမြတဲ့ အပြုံးပိုင်ရှင်ရယ်</p>

<p>တောင်းဆုတွေပြည့်ဝခဲ့သူ<br>နူးညံ့တဲ့ နှလုံးသားနဲ့အတူ<br>စွဲမက်ဖွယ့် စကားနဲ့ဆင့်ကာ<br>တုယှဉ်ပြိုင်လာလို့နှိုင်းရင်<br>ရှုံးကြမှာပဲ</p>

<p>ရင်ထဲရှိ ရှိသမျှပြောပြရရင်<br>တကယ်လှတယ်<br>မြင်သူတကာငေး ငေးလောက်အောင်<br>လှရက်လို့<br>ချူလိုသူတွေလက်ထဲမှာ<br>အလှမပျက်အောင်<br>ဆုတောင်းတယ် မိန်းကလေးရယ်<br>ပန်းကလေးလို လှတဲ့ချစ်သူရယ်...</p>

<p>🐝🌸🌹🌺🐝🌻🌼🌷🐝</p>

<p>Ready…!<br>1<br>2<br>3<br>Go…</p>

<p>တေးသွားချို သီကာကျူးတဲ့<br>ကျေးငှက်ကို လှမ်းလို့ကြည့်ကာ<br>ပန်းကလေးကပြောလိုက်တယ်<br>လောကရဲ့ အလှအပဟာ<br>တို့ပွင့်မှပြည့်စုံတာတဲ့</p>

<p>ပန်းချစ်သူ ပျားကပြုံးတယ်<br>တောက်ပတဲ့ အဆင်းလည်းရှိတယ်<br>လိုက်ဖက်မယ့် မွှေးရနံ့နဲ့ဆို<br>ဝတ်မှုန်ရယ် နင်နဲ့နှိုင်းရင်<br>ရှုံးကြမှာပဲ</p>

<p>ရင်ထဲရှိ ရှိသမျှပြောပြရရင်<br>တကယ်လှတယ်<br>မြင်သူတကာငေး ငေးလောက်အောင်<br>လှရက်လို့<br>ချူလိုသူတွေ လက်ထဲမှာ<br>အလှမပျက်အောင် ဆုတောင်းတယ်<br>ပန်းကလေးရယ်<br>သင်းပျံ့ကာ အမြဲမွှေးစေ့ချင်တယ်...</p>

    </div>
</div>
        <div class="audio-section">
            <div class="audio_detail">
                <audio controls>
                  <source src="../audio/wint_mwin.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
              <div class="favorite_heart-btn">
                <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
                  &#x2661;
              </div>
        </div>
        
            </div>
        </div>   
        
    
    


   
</body>
</html>