<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
</head>
<body>
    <nav class="navbar">
        <a href="/" class="logo">Song Cloud</a>
        <ul class="nav-links">
      
        </ul>
        <input type="text" class="search-bar" placeholder="Search Music...">
         <a href="/lobby" class="fav-btn">
            <span class="fav-icon"></span> Back
          </a>
    </nav>
    
    <div class="profile-container">
        <div class="artist-header">
            <div class="artist-img"><img src="../image/Zaw Win Htut.jpg" alt="Zaw Win Htut" ></div>
            <h1 class="artist-name">Zaw Win Htut</h1>
            <div class="music">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
        <hr>
        <div class="about-section">
            <h2>Zaw Win Htut</h2>
            <p class="artist-description">
                ဇော်ဝင်းထွဋ် (၂၁ ဇန်နဝါရီ ၁၉၆၄ မွေးဖွား) သည် မြန်မာနိုင်ငံသား ရော့ခ်အဆိုတော်တစ်ဦးဖြစ်သည်။ ဇော်ဝင်းထွဋ်သည် အင်ပါယာ တေးဂီတဝိုင်း၏ တည်ထောင်သူတစ်ဦးဖြစ်သည်။
                ဇော်ဝင်းထွဋ်သည် မွေးချင်းနှစ်ဦးအနက်မှ ဇော်ဝင်းထွဋ်သည် အငယ်ဆုံးဖြစ်ပြီး သူနှင့် အသက်တစ်နှစ်ခန့်ကွာသော အကို​ဖြစ်သူ ဇော်မျိုးထွဋ် နှင့်အတူ တေးသီချင်းများ သီဆိုခဲ့သည်။ အိုအေစစ်တီးဝိုင်းတွင် ဒရမ်မာအဖြစ် အနုပညာလုပ်ငန်းကို စတင်ခဲ့သည်။ ၁၉၈၀ခုနှစ် တွင် အဖေဖြစ်သူ၏ အားပေးကူညီမှုကြောင့် အင်ပါယာ တေးဂီတဝိုင်း ကို အစ်ကိုဖြစ်သူ ဇော်မျိုးထွဋ် (လိဒ်ဂစ်တာ)၊ ကျင်ခမ်းဖုန်း (ဘေ့စ်ဂစ်တာ)၊ ဝေထွန်း (ဒရမ်)၊ မောင်မောင်လွင် (ကီးဘုတ်) နှင့် ဂျွန်အိုဟားရား (အကော့စတစ်) တို့ဖြင့် စတင်တည်ထောင်ခဲ့သည်။ ဇော်ဝင်းထွဋ်၏ အစောပိုင်းဂီတပုံစံများမှာ ကန်းထရီးနှင့် ရော့ခ်အင်ရိုး အဆိုပုံစံများ ဖြစ်သည်။ သူ၏ ပထမဆုံး အယ်လ်ဘမ် မာကျူရီည ကို ၁၉၈၃ ခုနှစ်တွင် ဖြန့်ချိခဲ့သော်လည်း အောင်မြင်မှုမရခဲ့ပေ။ လမ်းသစ်၊ ကြယ်တံခွန် နှင့် အချစ်စွမ်းအင် အမည်ဖြင့် နောက်ထပ် အယ်လ်ဘမ် သုံးခု ထပ်မံဖြန့်ချိခဲ့ရာတွင်လည်း အထိုက်အလျောက်သာ အောင်မြင်ခဲ့သည်။ ၁၉၈၉ ခုနှစ်တွင် သူ၏ ဇော်ဝင်းထွဋ်၏ အကောင်းဆုံးတေးများ အယ်လ်ဘမ်ဖြန့်ချိသည့်အခါတွင်မှ အောင်မြင်မှုရရှိခဲ့ပြီး ရော့ခ်စတားတစ်ဦး ဖြစ်လာခဲ့သည်။
            </p>
        </div>
    </div>
<hr>

    
    <div class="highlight-section"> 
        <div class="highlight">
            <a href="songd.html">
                <div class="image">
                    <img src="../image/nay yrr time mrr.jpg" alt="နေရာတိုင်းမှာ" />
                </div>
            </a>
            <div class="song-details">
                <p class="song-name">နေရာတိုင်းမှာ</p>
                <p class="artist">ဆိုင်းထီးဆိုင်</p>
            </div>
                <div class="audio">
                <audio controls>
                  <source src="../audio/နေရာတိုင်းမှာ.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
        </div>
        <div class="heart">
          <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
            &#x2661;
        </div>
            </div>
        </div>
      </div>
      <hr>
        <div class="highlight-section"> 
          <div class="highlight">
              <a href="songd.html">
                  <div class="image">
                      <img src="../image/nay yrr time mrr.jpg" alt="နေရာတိုင်းမှာ" />
                  </div>
              </a>
              <div class="song-details">
                  <p class="song-name">နေရာတိုင်းမှာ</p>
                  <p class="artist">ဆိုင်းထီးဆိုင်</p>
              </div>
                  <div class="audio">
                  <audio controls>
                    <source src="../audio/နေရာတိုင်းမှာ.mp3" type="audio/mpeg">
                    Your browser does not support the audio element. 
                </audio>
          </div>
          <div class="heart">
            <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
              &#x2661;
          </div>
              </div>
          </div>
        </div>
        <hr>
      <div class="highlight-section"> 
        <div class="highlight">
            <a href="songd.html">
                <div class="image">
                    <img src="../image/nay yrr time mrr.jpg" alt="နေရာတိုင်းမှာ" />
                </div>
            </a>
            <div class="song-details">
                <p class="song-name">နေရာတိုင်းမှာ</p>
                <p class="artist">ဆိုင်းထီးဆိုင်</p>
            </div>
                <div class="audio">
                <audio controls>
                  <source src="../audio/နေရာတိုင်းမှာ.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
        </div>
        <div class="heart">
          <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
            &#x2661;
        </div>
            </div>
        </div>
      </div>
      <hr>
      <div class="highlight-section"> 
        <div class="highlight">
            <a href="songd.html">
                <div class="image">
                    <img src="../image/nay yrr time mrr.jpg" alt="နေရာတိုင်းမှာ" />
                </div>
            </a>
            <div class="song-details">
                <p class="song-name">နေရာတိုင်းမှာ</p>
                <p class="artist">ဆိုင်းထီးဆိုင်</p>
            </div>
                <div class="audio">
                <audio controls>
                  <source src="../audio/နေရာတိုင်းမှာ.mp3" type="audio/mpeg">
                  Your browser does not support the audio element. 
              </audio>
        </div>
        <div class="heart">
          <button class="favorite_heart-btn" onclick="toggleFavorite(this)">
            &#x2661;
        </div>
            </div>
        </div>
      </div>
      <script src="../javascript/script.js"></script>
</body>
</html>